.popup__form-submit-button_disabled {
  opacity: 0.2;
  color: #000;
  background-color: #fff;
  border: 1px solid #000000;
}

.popup__form-submit-button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}
