.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .profile {
    margin: 0 19px;
  }
}

@media screen and (max-width: 700px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
  }
}
