.pictures__delete-button {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 18px;
  right: 15px;
  border: none;
  background-image: url(../../../images/trash.svg);
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  transition: opacity .3s ease;
  cursor: pointer;
  visibility: hidden;
}

.pictures__delete-button:hover {
  opacity: 0.6;
}
