.authentication__link {
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    transition: opacity .3s ease;
    margin-top: 15px;
}

.authentication__link:hover {
    opacity: 0.85;
}